html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html {
  font-family: 'Coming Soon', cursive;
  font-weight: 300;
  line-height: 1.75;
  font-size: 200px;
  letter-spacing: 0.2rem;
}

.main,
.footer {
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
}

.main.photos-right {
  flex-direction: row;
}

.text-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

.photos {
  height: 4rem;
  overflow: hidden;
  display: flex;
  background-color: #e0e0e0;
}

.photos-right .photos {
  height: auto;
  width: 4rem;
  flex-direction: column;
}

.photos-single .photos {
  justify-content: center;
}

.photo {
  flex: 1;
  background-position: center;
  background-size: cover;
}

.photos-single .photo {
  width: 4rem;
  flex: initial;
}

.tags {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  box-sizing: border-box;
}

.tag {
  position: absolute;
  opacity: 0.03;
  font-size: 2.5rem;
  line-height: 1;
}

.tag:nth-child(1) {
  top: 0;
  left: 0;
  transform: rotate(-10deg);
}

.tag:nth-child(2) {
  bottom: 0;
  right: 0;
  transform: rotate(10deg);
}

.tag:nth-child(3) {
  bottom: 0;
  left: 0;
  transform: rotate(-10deg);
}

.tag:nth-child(4) {
  top: 0;
  right: 0;
  transform: rotate(10deg);
}

.footer {
  padding: 0.5rem 1rem;
  background-color: #0d47a1;
  color: aliceblue;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.date {
  font-weight: 400;
}

.body-red .footer {
  background-color: #c62828;
}

.body-pink .footer {
  background-color: #ad1457;
}

.body-deep-purple .footer {
  background-color: #512da8;
}

.body-blue .footer {
  background-color: #0d47a1;
}

.body-cyan .footer {
  background-color: #00838f;
}

.body-teal .footer {
  background-color: #00796b;
}

.body-green .footer {
  background-color: #388e3c;
}

.body-amber .footer {
  background-color: #ff6f00;
}

.body-deep-orange .footer {
  background-color: #d84315;
}

.body-blue-gray .footer {
  background-color: #546e7a;
}
